body{
	width:100%;
	height:100%;
	
	/* display: table; */
    background-color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 0 0 450px; 
    background-repeat:no-repeat;

}

header{
	background: url(../images/bg3.jpg);
	height:270px;
	width:80%;
	margin-left: 10%;
	/* background: url(../images/bg.png); */
	/* display: table; */
    background-color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:0;
    background-repeat:no-repeat;
}

footer {
	/* 
background: url(../images/b.jpg);
    position: absolute;
 */
    left: 0;
    bottom: -450px;
    height: 150px;
    width:80%;
	margin-left: 10%;
	background-color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:0;
    background-repeat:no-repeat;
  
}

#home{
	background: url(../images/bg2.png);
	height:100%;
	width:80%;
	margin-left: 10%;
	padding:0 0 20px 0;
}
.countdown {
	background: rgba(0,0,0,0.5) !important;
	color: #857AAC;
	font-family: bebas neue;
	font-weight: 100;
	font-size: 90pt;
	width: 100%;
	text-align: center;
	top: 20%;
	-webkit-transform: translate(0, -90%); 
  
}
header h2 {
	margin-top:0;
	height: 20px;
	color: #857AAC;
	font-family: Lavanderia-Sturdy;
	font-weight: 100;
	font-size: 20px;
	
	text-align: center;
	-webkit-transform: translate(0, 50%);
}
.countdown_label{
	margin-top:0px;
}
.mynav{
	margin-top:30px;
	background: rgba(255,255,255,0.6);
}
.mynav li a{
	color: rgb(249, 174, 210);
}
.mynav li {
	color: #857AAC;
	text-align:center;
	font-family: bebas neue;
	font-size:16px;
	font-weight: 100px;
	
}
.mynav li a:hover{
	color: #fff;
	background: rgba(249, 174, 210, 0.6) !important;
	border-radius:0px !important;
}

#navbutton{

	display:none;

}

.myhomeimage{
	padding-left:0px !important;
	padding-right:0px !important;
}

#formobile{
	display: none;
}

.info{
	color:grey;
	text-align:center;
}
.info #inst-op-1-list, #inst-op-2-list, #inst-op-3-list, #inst-op-4-list{
	display:none;
}
.info ol{
	text-align: left !important;
}
#map1, #img111 img{
	margin-right:auto;
	margin-left:auto;

}
#rsvp, .rules, footer, .info, #story, #contact{
	display:none;
}
#story{

	}
/* 
nav {
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  color: white; }
  nav p {
    margin-left: 20px;
    margin-top: 40px; }
  nav ul {
    padding: 70px 30px;
    padding-top: 20px;
    display: none; }
    nav ul li {
      list-style-type: none;
      color: white;
      margin-bottom: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: 'helvetica neue';
      font-weight: 100; }
      nav ul li a {
        color: white;
        text-decoration: none; }
        nav ul li a:hover {
          font-weight: 400; 
          
}
 */
@media (max-width: 480px) { 
	header{
		width:100%;
		margin:0;
		height:auto;/*120px;*/
	}
	#home{
		background: url(../images/bg2.png);
		height:500px;
		width:100%;
		margin:0;
	}
	.countdown {
		font-size:45px;
  
	}
	header h2{
		font-size:10px;
	}
	/* 
.myhomeimage img{
		width:auto;
		height:100%;
		background-size:cover;
	
	}
 */
	#formobile{
		display: block;
	}
	#forwindow{
		display:none;
	}
	#navbutton{
		display: block;
	}
}

@media (min-width: 481px) and (max-width: 767px){ 
	header{
		width:100%;
		margin:0;
		height:auto;/*240px;*/
	}
	#home{
		background: url(../images/bg2.png);
		height:500px;
		width:100%;
		margin:0;
	}
	.countdown {
		font-size:70px;
	}
	header h2{
		font-size:15px;
	}
	
}
@media (min-width: 768px) and (max-width: 991px) { 
	header{
		width:80%;
		margin-left: 10%;
		height: 250px;
	}
	.countdown {
		font-size:80px;
	
	}
	header h2{
		font-size:20px;
	}
	
}

@media (min-width: 992px) and (max-width: 1199px){
	header{
		width:80%;
		margin-left: 10%;
		height:270px;
	}
	
}